.right form{
	width: 570px;
	overflow: hidden;
	margin: 10px auto 30px;
	background: #FDECCE;
	padding: 20px 0 20px 30px;
}
.right form tr td{
	color:#AE9B5C;
	font-size: 14px;
}
.right form tr td input[type="text"],.right form tr td input[type="password"]{
	text-indent: 5px;
	display: block;
	width: 250px;
	height: 26px;
	margin-bottom: 10px;
}
.right form .adress span{
	float: left;
	font-size: 14px;
	color:#AE9B5C;
	line-height: 28px;
}
.right form .adress input{
	float: left;
	display: block;
	width: 350px;
}
.right form input[type="button"]{
	display: block;
	width: 60px;
	height: 20px;
	background: url(../img/btn_bg.png);
	float: left;
	margin-right: 25px;
	color:#fff;
	border-radius: 2px;
	font-size: 12px;
	margin-bottom: 10px;
	cursor: pointer;
}
.right form input[type="submit"],.right form input[type="reset"]{
	display: block;
	width: 70px;
	height: 30px;
	background: url(../img/btn_bg.png);
	border-radius: 2px;
	float: left;
	color:#fff;
	margin-left: 30px;
	cursor: pointer;
}